header {
	text-align: center;
}
.banner {
	width: 40%;
}

body {
	font-family: 'Oxygen', sans-serif;
}

.botoes {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.teclado {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.area-jogo {
	background-color: #04cbcb;
	text-align: center;
}

.area-erros {
	background-color: #fdda01;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	color: #230f15;
}


.rodape {
	font-size: 10px;
}