header {
	text-align: center;
}
.banner {
	width: 30%;
}

body {
	font-family: 'Oxygen', sans-serif;
}

.botoes {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.teclado {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.area-jogo {
	background-color: #04cbcb;
}

.area-erros {
	background-color: #04c000;
	padding-top: 20px;
	padding-bottom: 20px;
}


.rodape {
	font-size: 10px;
}