.banner {
	width: 100%;
}

body {
	font-family: 'Oxygen', sans-serif;
}

/*.bt-jogar {
	width:150px;  
	height:50px;
	background-color: #ff66c4;
	padding: 0 0 0 50px;
	border-radius: 10px;
	border-color: transparent;
	background: url('images/jogar.gif') no-repeat left center;
	font-size: 2em;
	text-align: center;
}*/


.area-forca {
	background-color: #04cbcb;
}

.area-palavra {
	background-color: #04cb00;
}

.area-erros {
	background-color: #04c000;
}


.rodape {
	font-size: 10px;
}